@using PokeCardManager.Data


<div class="pokecard-div border-primary border-bottom border-3 border-0">
    <div class="pokecard-img">
        <div class="cardeffect" data-rarity="@card.RarityEffect" data-subtypes="@card.SubtypeEffect">
            <div class="pokecard__translater">
                <button class="pokecard__rotator" tabindex="0">

                    <div class="pokecard__front">
                        <img src="@card.ImageLarge" loading="lazy" height="200">

                        <div class="pokecard__shine"></div>
                        <div class="pokecard__glare"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="pokecard-info">
        <ul class="list-group list-group-flush">
            <li class="card-details">
                @card.Supertype
            </li>
            <li class="card-details">
                <h6 class="mb-0">@card.Name</h6>
            </li>
            <li class="card-details">
                @card.SetName
            </li>
            <li class="card-details">
                @card.Rarity - #@card.Number
            </li>
            <li class="card-details">
                <h4 class="text-danger">@card.Price @if (card.Tcgplayer != null)
                    {
                        <a href="@card.Tcgplayer.Url.ToString()" target="_blank"><img src="/img/icons/tcgplayer.png" class="tcgicon" /></a>
                    }
                </h4>
            </li>
        </ul>
    </div>
</div>

@code 
{
    
    [Parameter]
    public CardX card { get; set; }

}